/* Back to top variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-btt-background: rgba(0, 27, 48, 0.6);
$eos-btt-borders: $eos-bc-blue-400;
$eos-btt-color: $eos-bc-white;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-btt-width: $eos-xxl;
$eos-btt-height: $eos-xxl;
$eos-btt-right: $eos-xxl;
$eos-btt-bottom: $eos-xxl;
$eos-btt-right-mobile: $eos-l;
$eos-btt-bottom-mobile: $eos-l;
