/* Articles gallery variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$eos-ag-bg: $eos-bc-gray-50;
$eos-ag-disabled-arrow-color: $eos-bc-gray-300;
$eos-ag-arrow-hover-color: $eos-bc-gray-1000;
$eos-ag-article-bg: $eos-bc-white;
$eos-ag-article-border-bottom: 4px solid $eos-bc-cerulean-500;
$eos-ag-goto-article-icon-color: $eos-bc-cerulean-900;
$eos-ag-article-link-color: $eos-body-color;
$eos-ag-read-now-bg: $eos-bc-cerulean-500;
$eos-ag-read-now-color: $eos-bc-white;


/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-ag-read-now-padding: $eos-m;
$eos-ag-read-now-height: 50px;
$eos-ag-article-height: 125px;
$eos-ag-article-padding: $eos-l;
$eos-ag-article-container-padding-right: $eos-m;
$eos-ag-carousel-marging-top: $eos-l;
